snippet _8
	<!--
	 FileName:      readme
	 Author:        8ucchiman
	 CreatedDate:   2023-07-27 13:18:25
	 LastModified:  2023-01-25 10:56:12 +0900
	 Reference:     8ucchiman.jp
	 Description:   ---
	-->


snippet _8fold
	<details>
		<summary> hoge </summary>
		<div>
		</div>
	</details>

